/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;

  
}

/* Header Styles */
header {
    background-color: black;
    color: white;
    padding: 10px 0;
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    margin: 0;
}

header nav {
    margin-top: 10px;
}

header nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

header nav a:hover {
    text-decoration: underline;
}

/* Container Styles */
#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    background-image: url("img/images8.jpg");
}

/* Product Styles */
.product {
    background-color:brown;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    text-align: center;
    width: 200px;
    transition: transform 0.3s;
}

.product img {
    max-width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}

.product h2 {
    font-size: 1.5em;
    margin: 10px 0;
}

.product p {
    color: #555;
    margin: 5px 0;
}
.product button{
    background-color: black;
    color: white;
    
}

.product:hover {
    transform: scale(1.05);
}
.last p{

  background-color: black;
    color:white;
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-weight: bold;
  margin-right: auto;

}
