body{
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}
.container{
    text-align: center;
    background-color: black;
    color: aliceblue;
}
.container button{
    height: 40%;
    width: 45%;
    padding: 10px 5px 8px 4px;
    margin-top: 10px;
    padding-bottom: 60px;
}