*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Hachi Maru Pop", cursive;
}

.navbar{
    background-color: brown;
    color: black;
}
.container{
   
 padding: 10px;
}

.book-container{
   padding: 50px;
   width: 28%;
   background-color: black;
   border-radius: 10px;
   color: white;
   margin: 30px;
   display: inline-block;
 
}
.book-container h2{
    color: brown;
}

.book-container button{
    background-color: blue;
    color: bisque;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;

}

.add-button{
    background-color: black;
    color: white;
    padding: 10px;

}

.popup-overlay{
    background-color: black;
    opacity: 0.8;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    display: none;
}

.popup-box{
    background-color: crimson;
    width: 40%;
    padding: 40px;
    border-radius: 10px;
    position: absolute;
    top: 20%;
    left: 20%;
    z-index: 2;
    display: none;
}

.popup-box input{
    background-color: transparent;
    border: none;
    width: 100%;
    margin: 5px;
    padding: 5px;
    font-size: 20px;
    border-bottom: solid;
}

.popup-box textarea{
    background-color: transparent;
    width: 100%;
    margin: 5px;
    padding: 5px;
    font-size: 20px;
    border-bottom: solid;
}

.popup-box input::placeholder
{
    color: black;
}
.popup-box textarea::placeholder
{
    color: black;
}

.popup-box button{
    background-color: wheat;
    padding-left: 20px;
}