.h1{
    color: rgb(235, 180, 12);
    background-image:url(../img/cafe.jpg) ;
    width: 100%;
    height: 100%;
    margin:auto;
    padding: 35px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  /* Sidebar Style */
  .sidebar {
    height: 100vh;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #2c3e50;
    padding-top: 20px;
  }
  
  /* Sidebar links */
  .sidebar a {
    display: block;
    color: white;
    padding: 15px 20px;
    text-decoration: none;
    transition: background 0.3s;
  }
  
  .sidebar a:hover {
    background-color: #1abc9c;
  }
  
  
  .menu-container{
  
    color: brown;
    font-size: 20px;
    width: 100%;
    height: 100%;
    margin:auto;
    padding: 35px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    

  }
.img{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}
.menu-img{
    background: #fff;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
      width: 200px;
      padding: 20px;
}


.line{
  font-family:serif;
  text-align: center;
  text-shadow: #2c3e50;
}
  
#about{
    margin-top: 12%;  
    color: brown;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.section{
 
  color: rgb(23, 16, 16);
  
}


#contact{
  margin-top:12% ;
  font-size: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.footer{

  color: chartreuse;
  background-color: brown;
  font-size: 15px;

}